**/node_modules
**/dist
**/.cache
**/.next
**/build
**/coverage
**/.env*
**/*.log
**/cdk.out
*/config/prod.ts
*/config/*.key.txt
*/config/stage.ts
packages/deploy/src
.env
.env-prod
.env-stage
.DS_Store