@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sep {
    position: relative;
  }
  .sep::before {
    content: '';
    display: block;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40%;
    height: 1px;
    background: radial-gradient(
      ellipse at center,
      #d1dbe7 0,
      rgba(255, 255, 255, 0) 75%
    );
  }
  .sep-light::before {
    background: radial-gradient(
      at center center,
      rgba(255, 255, 255, 0.2) 0px,
      rgba(31, 45, 61, 0) 75%
    );
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
  }
}

svg {
  max-width: 100%;
  height: auto;
}
