.btn {
  @apply inline-flex items-center justify-center transition-all border border-transparent font-semibold leading-normal focus:ring focus:outline-none outline-none whitespace-nowrap hover:no-underline;
}

.type-primary {
  @apply text-white bg-primary border-primary 
  hover:bg-primary-600 hover:border-primary-700
  active:bg-primary-700 active:border-primary-800;
}

.type-secondary {
  @apply text-gray-900 bg-secondary border-secondary
  hover:bg-secondary-600 hover:border-secondary-700
  active:bg-secondary-700 active:border-secondary-800
  focus:ring-secondary-ring;
}

.type-neutral {
  @apply border-2 bg-white text-gray-900 border-gray-300
  hover:bg-gray-200 hover:border-gray-200 
  active:bg-gray-300 active:border-gray-300
  focus:ring-alpha-white20;
}

.type-warning {
  @apply text-white bg-warning border-warning 
  hover:bg-warning-600 hover:border-warning-700
  active:bg-warning-700 active:border-warning-800 
  focus:ring-warning-250;
}

.type-success {
  @apply text-white bg-success border-success 
  hover:bg-success-600 hover:border-success-700
  active:bg-success-700 active:border-success-800 
  focus:ring-success-250;
}

.size-large,
.size-default {
  @apply py-3 px-7 rounded-md;
}

.size-small {
  @apply text-sm py-2 px-5 rounded-md;
}

.size-extra-small {
  @apply text-sm py-1 px-3 rounded-md;
}
